<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.inote.mapper.OptionMapper">
  <resultMap id="BaseResultMap" type="xin.inote.pojo.Option">
    <result column="option_id" jdbcType="INTEGER" property="option_id" />
    <result column="option_name" jdbcType="VARCHAR" property="option_name" />
    <result column="option_value" jdbcType="VARCHAR" property="option_value" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    option_id, option_name, option_value
  </sql>
  <select id="selectByExample" parameterType="xin.inote.pojo.OptionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from b_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="xin.inote.pojo.OptionExample">
    delete from b_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xin.inote.pojo.Option">
    insert into b_option (option_id, option_name, option_value
      )
    values (#{option_id,jdbcType=INTEGER}, #{option_name,jdbcType=VARCHAR}, #{option_value,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xin.inote.pojo.Option">
    insert into b_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="option_id != null">
        option_id,
      </if>
      <if test="option_name != null">
        option_name,
      </if>
      <if test="option_value != null">
        option_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="option_id != null">
        #{option_id,jdbcType=INTEGER},
      </if>
      <if test="option_name != null">
        #{option_name,jdbcType=VARCHAR},
      </if>
      <if test="option_value != null">
        #{option_value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xin.inote.pojo.OptionExample" resultType="java.lang.Long">
    select count(*) from b_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_option
    <set>
      <if test="record.option_id != null">
        option_id = #{record.option_id,jdbcType=INTEGER},
      </if>
      <if test="record.option_name != null">
        option_name = #{record.option_name,jdbcType=VARCHAR},
      </if>
      <if test="record.option_value != null">
        option_value = #{record.option_value,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_option
    set option_id = #{record.option_id,jdbcType=INTEGER},
      option_name = #{record.option_name,jdbcType=VARCHAR},
      option_value = #{record.option_value,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>