#article_content table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

#article_content td {
    word-wrap: break-word;
}

#article_content img {
    max-width: 100%;
    height: auto;

}

#article_content h1,#article_content h2,#article_content h3,#article_content h4 {
    background: #f8f9fa;
    padding: 0.5em 1.3em;
    border-left: 5px solid #7dd667;
}
#article_content blockquote{
    margin: 0 0 1.5em 0.75em;
}




