#tables-role{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:white;
}
#tables-user{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:white;
}
#user-edit{
	display: none;
}
